h1 Admin Area

h3 = link "Posts", to: admin_path(@conn, :posts)
h3 = =link "Pages", to: admin_path(@conn, :pages)
h3 = =link "Tags", to: admin_path(@conn, :tags)
h3 = =link "Images", to: admin_path(@conn, :images)
h3 = =link "Files", to: admin_path(@conn, :files)
