h1 New File
-new = true
= render "form.html", changeset: @changeset, post_id: @post_id, page_id: @page_id, new: new,
                        action: file_path(@conn, :create, "post_id": @post_id, "page_id": @page_id)

span= link "Back", to: file_path(@conn, :index)
